<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>sample</title>
</head>
<body>
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Department</th>
				<th>DOB</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let emp of employees">
				<td>{{emp.id }}</td>
				<td>{{emp.firstName}}</td>
				<td>{{emp.lastName}}</td>
				<td>{{emp.DepartName}}</td>
				<td>{{emp.DOB}}</td>
			</tr>
			<tr *ngIf="employees.length==0">
			<td colspan="5">NO DATA</td>
		</tbody>		
	
	</table>
</body>
</html>